/* Début nav Top */

nav {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	width: 90%;
}

nav a {
	/* color: white; */
	text-decoration: none;
}

nav .logo {
	background-image: url("../images/logo/Booki@3x.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 30%;
	height: 70px;
}

nav .sections {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-style: bold;
}

nav .section {
	padding: 30px;
	color: black;
	/* transition: 1s; */
}

/* nav .section:hover {
	color: #0065FC;
	border-top: solid 10px;
	border-color: #0065FC;
	transition: 1s;
} */

@media screen and (max-width: 768px) {
	header {
		margin-bottom: 20px;
	}

	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	nav .logo {
		height: 50px;
		margin: auto;
	}

	nav .sections {
		display: flex;
		flex-direction: row;
		width: 100%;
		border-bottom: 2px #F2F2F2 solid;
	}

	nav .section {
		text-align: center;
		width: 50%;
		padding: 20px;
	}
}

/* Fin Nav Top */