/* Début du Header */

main {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
}

main h1 {
	font-size: 25px;
	font-weight: bold;
}

main h2 {
	font-size: 15px;
	padding-bottom: 20px;
}

.searchArea {
	padding-bottom: 40px;
}

.searchArea form {
	display: flex;
	flex-direction: row;
}

.searchArea form .locPicto{
	background-color: #F2F2F2;
	border-radius: 20px 0px 0px 20px;
	padding: 14px;
	width: 40px;
}

.searchArea form input {
	border: 1px #F2F2F2 solid;
	border-radius: 0%;
}

.searchArea form button {
	border: none;
	background-color: #0065FC;
	color: #ffffff;
	padding: 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 0px 20px 20px 0px;
}

.filter {
	display: flex;
	flex-direction: row;
	padding-bottom: 40px;
}

.filter h3 {
	padding-top: 14px;
}

.filter .filters {
	display: flex;
	flex-direction: row;
	border: 2px #F2F2F2 solid;
	border-radius: 30px;
	margin-left: 20px;
}

.filter i {
	background-color: #DEEBFF;
	color: #0065FC;
	/* height: 40px;
	width: 40px; */
	padding: 20px;
	border-radius: 50%;
}

.filter p {
	padding: 20px;
}

@media screen and (max-width: 992px) {
	.filters {
		display: flex;
		flex-direction: row;
		border: 2px #F2F2F2 solid;
		border-radius: 10px;
		margin-left: 20px;
	}

	.filters i {
		background-color: #DEEBFF;
		color: #0065FC;
		padding: 20px;
		border-radius: 50%;
	}

	.filter p {
		padding: 0px;
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 20px;
	}
}


.countAvailable {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	padding-bottom: 40px;
}

.countAvailable i {
	font-size: 14px;
	color: #0065FC;
	border: 3px #F2F2F2 solid;
	border-radius: 40px;
	height: 30px;
	width: 30px;
	text-align: center;
	padding: 5px;
}

.countAvailable p {
	padding: 5px;
}

/* Fin du Header */

/* Début du main */

/* main {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
} */

.containerResult {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    padding-bottom: 50px;
}

.containerResult i {
	color: #0065FC
}

.blank {
	color: #f2f2f2;
}

.titleSection {
	font-size: 20px;
	padding-bottom: 20px;
    font-weight: bold;
}

.searchResult {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #F2F2F2;
	width: 60%;
	padding: 30px;
	border-radius: 40px;
}

.resultRow {
	background-color: #fff;
	padding: 5px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); 
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.containerResult .resultName{
    font-weight: bold;
    padding-bottom: 5px;
}

.containerResult .resultPrice {
    padding-bottom: 5px;
}

.containerResult .searchResult img{
	width: 280px;
	height: 120px;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
	padding-bottom: 5px;
}

.resultFirstRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 20px;
}

.resultSecondRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
	.containerResult {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 50px;
		width: 100%;
	}

	.searchResult {
		width: 100%;
		margin-bottom: 20px;
	}

	.showResult {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.resultFirstRow {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 20px;
	}
	
	.resultSecondRow {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 20px;
	}
}

.mostPopular {
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 30px;
	background-color: #F2F2F2;
	border-radius: 40px;
}

.mostPopular .containerTitle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mostPopular .containerTitle i {
	color: black;
}

.mostPopular .resultColumn {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); 
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	margin-bottom: 20px;
}

.mostPopular .resultColumn img {
	width: 100px;
	height: 130px;
	object-fit: cover;
	border-radius: 10px 0px 0px 10px;
	padding: 5px 0px 5px 5px;
	margin-right: 20px;
}

.mostPopular .resultColumn .textResultColumn {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.mostPopular .resultColumn .stars {
	margin-top: 30px;
}

@media screen and (max-width: 992px) {
	.mostPopular {
		width: 100%;
	}
}

.searchActivity {
	display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-bottom: 50px;
}

.searchActivity p {
	padding: 20px;
}

.containerActivity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
	.containerActivity{
		display: flex;
		flex-direction: column;
	}
}

.biggestActivity {
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2); 
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.firstSmallerActivity {
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2); 
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
	margin-bottom: 80px;
}

.secondSmallerActivity {
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2); 
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.biggestActivity img{
	width: 400px;
	height: 540px;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
	padding-bottom: 5px;
}

.smallerActivity img{
	width: 400px;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
	padding-bottom: 5px;
}

.smallerActivity .slightlyBigger img {
	height: 250px;
}

.smallerActivity .slightlySmaller img {
	height: 150px;
}

@media screen and (max-width: 992px) {
	.containerActivity img {
		width: 100%;
		height: 400px;
	}
}

/* Fin du main */