* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	color: black;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #fff;
}

.desktop-visible {
	display: inline-block;
}

.mobile-visible {
	display: none;
}

@media screen and (max-width: 768px) {
	.desktop-visible {
		display: none;
	}

	.mobile-visible {
		display: inline-block;
	}
}