* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	color: black;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #fff;
	max-width: 1920px;
	margin: auto;
}